// Variables

// If need, change your variables before importing Bulma
$title-color: #2c3e50;
$body-color: #000;

$primary: #1abc9c;

$pre-footer-background: #1A1C27;
$header-footer-background: #222533;

$footer-font-color: #A1B1BC;
$pre-main-color: #F9FAFB;
$pre-main-border: #ecf0f1;

$page-title-color: #2c3e50;

$breadcrumbs-color: #a1b1bc;

$post-title-color: #2c3e50;
$navbar-height: 4.5rem;

$navbar-link-hover-color: #1abc9c;
$footer-link-color: #1abc9c;

$recent-activity-title-color: #2c3e50;
$recent-activity-link-color: #1abc9c;
$recent-activity-link-hover-color: #57d4bb;

$front-hero-background: #2f3346;
$front-hero-link-color: #1abc9c;
$front-hero-link-hover-color: #57d4bb;
$front-hero-text-color: #FFF;
$front-hero-text-subtitle-color: #DDD;
$front-hero-projects-background: #34384a;
$front-hero-technologies-background: #2f3346; //#656b85;
$front-hero-technologies-column-background: #4d536b;

$footer-title-color: #a1b1bc;

$message-body-radius: 10px;

$card-header-blog-bg-color: #2c3e50;
$card-header-blog-text-color: #FFF;

$card-header-tweet-bg-color: #6798c9;
$card-header-tweet-text-color: #FFF;